.cart {
    // Cart navigation menu
    @at-root #{&}__nav {
        position: relative;
        display: table-cell;
        vertical-align: bottom;
        width: 34px;
        height: 24px;
        fill: white;

        &-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            vertical-align: top;
        }

        &-count {
            display: inline-block;
            position: relative;
            padding: 0 5px;
            font-size: 0.8rem;
            font-weight: bold;
            border-radius: 1.4rem;
            background-color: green;
            height: 16px;
            line-height: 16px;
        }
    }

    // Indicates if item has been saved.
    @at-root #{&}__saved-status {
        text-align: center;

        @at-root #{&}-icon {
            display: inline-block;
            color: #cc0700;
        }
    }

    // Cart contents list
    @at-root #{&}__result-table {
        .result-table {
            padding: 0;
            border: none;
        }
    }

    @at-root #{&}__heading {
        text-align: center;

        @media screen and (min-width: $screen-sm-min) {
            display: flex;
            justify-content: space-between;
        }
    }

    @at-root #{&}__loss-warning {
        font-style: italic;
        text-align: center;
    
        @media screen and (min-width: $screen-sm-min) {
            flex: 0 1 auto;
            text-align: left;
        }
    }

    @at-root #{&}__save-button {
        margin-top: 10px;

        @media screen and (min-width: $screen-sm-min) {
            flex: 0 1 auto;
            margin: -5px;
        }
    }

    @at-root #{&}__empty-message {
        margin: 10px 0;
        text-align: center;
        font-style: italic;
    }

    @at-root #{&}__checkbox {
        position: relative;
        text-align: center;

        input[type=checkbox] {
            display: inline-block;
            zoom: 1.4;
        }
    }
}

// Cart button in navigation bar
.navbar-inverse .nav > li > button.cart__nav-button {
    padding-top: 8px;
    padding-bottom: 8px;
}
